.container {
    max-height: 400px; /* Set a maximum height for the container, adjust as needed */
    overflow-y: auto; /* Show vertical scrollbars when content overflows vertically */
    overflow-x: auto; /* Show horizontal scrollbars when content overflows horizontally */
  }
  form{
    position: fixed; 
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   max-width: 450px;
    padding: 40px;
   background-color: rosybrown;
   border: 1px grey;
   border-radius: 10px;
   box-shadow: black;
 z-index: 1000;
 }