<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img id="audree_logo" src="../assets/audreelogo.jpeg.jpg" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen1">SCREEN1</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen2">SCREEN2</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen3">SCREEN3</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen4">SCREEN4</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen5">SCREEN5</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen6">SCREEN6</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="screen7">SCREEN7</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>